* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: system-ui;
  color: #464343;
}


h1 {
  font-size: 18px;
  width: 80%;
  margin: 2.4rem auto 0;
  text-transform: uppercase;
}

p {
  width: 80%;
  font-size: 14px;
  margin: 8px auto;
}
