* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: system-ui;
  color: #464343;
}

header nav {
  background: #f0a979;
}

header ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
}

header ul li {
  width: 100%;
  height: 100%;
  text-align: center;
  border: 1px solid #916d0d;
  transition: all 0.3s;
}

header ul li:hover {
  background: #ff944b;
  border-color: #916d0dfe;
}

header ul li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 12px 0;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  color: #282424;
  transition: all 0.3s;
}

header ul li:hover a {
  text-decoration: underline;
}

h1 {
  font-size: 18px;
  width: 80%;
  margin: 2.4rem auto 0;
  text-transform: uppercase;
}

p {
  width: 80%;
  font-size: 14px;
  margin: 8px auto;
}

form {
  margin: 8rem auto 0;
  width: 80%;
  border: 1px solid #585858;
  padding: 1.6rem 2rem;
}

select#language {
  padding: 8px;
  height: 40px;
  border-radius: 8px;
  font-family: system-ui;
  font-size: 14px;
  border: 1px solid #ff944b;
}

select#language:focus {
  background-color: #f0a979;
}

button {
  width: 180px;
  height: 40px;
  padding: 8px;
  border-radius: 24px;
  background-color: transparent;
  border: 1px solid #ff944b;
  margin-left: 16px;
  font-weight: bold;
  transition: all 0.4s ease-in-out;
}

button:hover {
  color: rgb(255 255 255);
  background-color: #ff944b;
  border: 1px solid #b45413;
}

.result {
  margin: 16px auto;
  width: 80%;
}

.result p.error {
  color: #dd1515;
}

.result p.id {
  color: rgb(250, 197, 51);
}

.result p.loading {
  font-size: 16px;
  color: rgb(68, 67, 64);
}

.result p.id,
.result p.error,
.result p.loading {
  margin: 8px auto;
  font-weight: 700;
}
