.result {
  margin: 16px auto;
  width: 80%;
}

.result p.error {
  color: #dd1515;
}

.result p.success {
  color: #8d3908;
}

.result p.loading {
  font-size: 16px;
  color: #444340;
}

.result p.success,
.result p.error,
.result p.loading {
  margin: 8px auto;
  font-weight: 700;
}
